
body {

}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.resp-tabs-container {}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}

.resp-tab-active {
 
}

.resp-tab-active {
  border-bottom: none;

}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { }

h2.resp-accordion {
 /* font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;*/
  margin: 0px;
/*  padding: 10px 15px;*/
}

h2.resp-tab-active {
  /*border-bottom: 0px solid #c1c1c1 !important;*/
  margin-bottom: 0px !important;
  
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 10px;
  margin-right:10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fff;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #092f3f;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #fff !important; color: #000!important }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }



.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; font-size: 16px; color: #fff; line-height: 32px; padding: 5px 10px; border-top: 1px solid #e7e7e7; text-transform: capitalize;}

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
.resp-tabs-container h2 .tablink { margin: 7px 0 0;}
}


#horizontalTab .resp-tab-content > * {
opacity: 0;
}
@-webkit-keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 3; }
}
@keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 2; }
}
#horizontalTab .resp-tab-content.resp-tab-content-active > * {
-webkit-animation: fadeIn 3s;
animation: fadeIn 3s;
opacity: 3;
}
.no-cssanimations #horizontalTab .resp-tab-content > * {
opacity: 3;
}

#horizontalTab2 .resp-tab-content > * {
opacity: 0;
}
@-webkit-keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 3; }
}
@keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 2; }
}
#horizontalTab2 .resp-tab-content.resp-tab-content-active > * {
-webkit-animation: fadeIn 3s;
animation: fadeIn 3s;
opacity: 3;
}
.no-cssanimations #horizontalTab2 .resp-tab-content > * {
opacity: 3;
}

