/** Reset css **/
* { 
  margin: 0; 
  padding: 0;  
  outline: 0;  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   font-family: 'Roboto', sans-serif;


}
body { -webkit-text-size-adjust: none; margin: 0;  padding: 0;font-size:17px;line-height:26px;color:#2b2b2b;overflow-x: hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, ul {  display: block;}
img, fieldset {  max-width: 100%;  height: auto;  border: 0;}
ul {  list-style-type: none;}
ul, li, p, h1, h2, h3, h4, h5, h6, address { margin: 0;  padding: 0;  font-weight: 400;}
a {  text-decoration: none;  border: 0;  outline: none;

transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
a:hover ,a:focus {  text-decoration: none;  border: 0;  outline: none;}
a img{  text-decoration: none;  border: 0;  outline: none;}
input {    height: 38px;}
input::-webkit-input-placeholder {  color: #3c4043;    font-size: 14px;  opacity: 1;}
input:-moz-placeholder {  color: #3c4043;    font-size: 14px;  opacity: 1;}
input::-moz-placeholder {  color: #3c4043;    font-size: 14px;  opacity: 1;}
input:-ms-input-placeholder { color: #3c4043;    font-size: 14px;  opacity: 1;}

button, input, optgroup, select, textarea {
	/* font-family: sans-serif; */
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}


.invoicera-custom-container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
}


/*====================================strat landding new css here======================================================= */





.formbox-new.new-form-buttiom {
  width: 75% !important;
  margin: 0px auto;
  display: block;
}


.formbox-new.new-form-buttiom button {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  background-color: #182634;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  display: block;
  width: 40%;
  padding: 8px 0 12px;
  margin: 30px 0 0;
  text-align: center;
  margin: 30px auto;
}





.headingsec {
    margin: 0 0 60px;
    clear: both;
    text-align: center;
}


.headingsec h2 {
    font: 48px/60px'Roboto', sans-serif;
    color: #000; padding-bottom: 20px;
}

.headingsec p {
    font: 20px/30px 'Roboto', sans-serif;
    color: #1a1a1a;
}


.services-row {
  background: #fff;
  padding: 90px 0;
}


a.services-btn {
  padding: 14px 46px;
  color: #fff;
  background: #182634;
  border-radius: 4px;  font:400 18px/30px 'Roboto', sans-serif; 
}

a.services-btn:hover {
  text-decoration: none;
  background: #0d5590;
  color: #fff;
}

.gray-bg{ background: #f9f6f6!important; }


.invoicing-template-mg{ margin-top: 80px; }




ul.testimonials_list{ margin-top:20px; float:left; width:100%;}
ul.testimonials_list  li  { padding:42px 10px}
ul.testimonials_list  li  .contentbox{ color:#5f6368; padding:90px 5px; line-height:150%; position:relative; float: left; }
ul.testimonials_list  li  .contentbox:before{ content:""; width:75px; height:75px; background:url(../img/case-syudies-sprite.png) no-repeat; position:absolute; left:42px; top:-25px; background-position:-10px -10px;}
ul.testimonials_list  li  .contentbox:after{ content:""; width:75px; height:75px; background:url(../img/case-syudies-sprite.png) no-repeat; position:absolute; right:22px; bottom:31px; background-position:-16px -223px; z-index: 999;}


ul.testimonials_list .owl-dots { text-align:center;}
ul.testimonials_list .owl-dots .owl-dot {background:#bebebe; width:15px; height:15px; border-radius:10px; margin:0 5px;}
ul.testimonials_list .owl-dots .owl-dot.active{ background:#182634; }
.joinsec span{ font-size:24px;}
.joinsec h2{ color:#c5c5cf; margin-bottom:15px;  }
.joinsec .white_btn{ margin-top:90px;}
.invoice_online  .white_btn{ margin-top:90px;}
.invoice_online  span{ font-size:20px;} 



ul.testimonials_list li .contentbox .vedios-row{ width: 100%; margin:0px; float: left;}
ul.testimonials_list li .contentbox .vedios-row .vedios-box{ width:120px; height:120px; float: left;}
ul.testimonials_list li .contentbox .vedios-row .cont-sec{ width: 400px; float: right;}
ul.testimonials_list li .contentbox .vedios-row .cont-sec h5{ font:26px/40px'Roboto', sans-serif;
  color: #000;}
ul.testimonials_list li .contentbox .vedios-row .cont-sec h6{ font:22px/40px'Roboto', sans-serif;
  color: #000;}

  ul.testimonials_list li .contentbox .vedios-row .cont-sec p{ font:18px/32px'Roboto', sans-serif;
  color: #757575;  }

    ul.testimonials_list li .contentbox .vedios-row .normal-text{font:18px/32px'Roboto', sans-serif; padding: 20px 0px; width: 100%; float: left;}



.formbox-new.footer-buttom {
  margin: 0px auto !important;
  max-width:80% !important;
  display: block !important;
}

.formbox-new.footer-buttom {
  width: 80%;
  display: block;
  margin: 0px auto;
}



.copy-right{ background: #21212e; padding:20px 0px; }
.copy-right p{font:16px/32px'Roboto', sans-serif;  color: #7c7c8d;}



/*-------------------------strat new css 28102020--------------------*/
.ever-business-tabing{ padding: 80px 0px; }



.hire-php-key-technologyes {
  background: #fff;
  padding: 90px 0;
  clear: both;
}





.hire-php-key-technologyes .row {
  justify-content: space-around;
}


.hire-php-key-technologyes .row {
  justify-content: space-around;
}

.hire-php-key-technologyes .tabbingsec {
  flex: 0 0 100%;
}

.hire-php-key-technologyes .resp-tabs-list {
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid #efeaea;
}

.hire-php-key-technologyes .resp-tabs-list .resp-tab-active {
  position: relative;
}


.hire-php-key-technologyes .resp-tabs-list .resp-tab-active::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fff;
  top: 219px;
  left: 74px;
}



.hire-php-key-technologyes .resp-tabs-list li p {
  font: 26px/38px 'Roboto', sans-serif;;
  flex: 0 0 100%;
  color: #000; padding-bottom: 10px;
}


.hire-php-key-technologyes .resp-tabs-list .resp-tab-active::after {
  content: '';
  height:6px;
  width: 98%;
  background: #182634;
  position: absolute;
  left: 3px;
  bottom: -5px;
}




.resp-tabs-list li {
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}









#horizontalTab .resp-tab-content.resp-tab-content-active > * {
  -webkit-animation: none;
  animation: fadeIn 0s !important;
  opacity: 3;
}


.hire-php-key-technologyes .contentsec {
  padding: 40px 0px;
  overflow: hidden;
  text-align: left;
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
}



.hire-php-key-technologyes .contentsec ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.hire-php-key-technologyes .contentsec ul li {
  flex: 0 0 48%;
  text-align: center;
}

.hire-php-key-technologyes .contentsec ul li p{ font: 20px/34px 'Roboto', sans-serif; text-align: left;
    color: #1a1a1a;
}

.hire-php-key-technologyes .contentsec ul li .list{ margin:30px 0px 0px 0px; }
.hire-php-key-technologyes .contentsec ul li .list .check{ font: 20px/30px  font-family: 'Roboto', sans-serif;  text-align: left;color: #757575; position: relative;
 padding:10px 0px 10px 40px;

}



.hire-php-key-technologyes .contentsec ul li .list .check:before{
  content: '';
  background:url('../img/check.png') no-repeat;
  width:40px;
  height:50px;
  display:inline-block; background-position:4px 35px; position: absolute; left: 0px; top:-18px;

}




.content .content_box .row .contentText li {
  list-style: none;
  background: url(../new_images/common-sprite.png) no-repeat;
  padding: 8px 25px;
  font-size: 16px;
  text-align: left;
  color: #525151;
  background-position: -49px -305px;
  display: inline-block;
  line-height: 28px;
  width: 100%;
}

   



.hire-php-key-technologyes .contentsec ul li .img-box{ margin: 0px; padding: 0px; }

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #7f1f1f !important;
}









/*-------------------------end new css 28102020--------------------*/




.main{ background-color: #182634; padding: 0px 0px 20px; }


header{ padding:0px 0px 0px; }

header .logo{ width: 181px; padding: 20px 0px; }



.banner{ padding:0px 0px; }
.banner h1{ font-size:61px; text-align: center; line-height: 90px; color: #fff; text-align:center;padding: 20px 0px 45px 0px; }
.banner .headtext {
  width: 64%;
  display: inline-block;
  vertical-align: top;
  margin: 0 5% 0 0;
}


.banner .headtext  p {
  color: #fff; font-size:20px;line-height:40px;
  margin: 0 20px 22px 0; position: relative; font-weight: 300;
}



.banner .headtext .pointer-sec{ margin:60px 0px; padding: 0px; }
.banner .headtext .pointer-sec ul{ display: flex;justify-content: flex-start; flex-wrap: wrap;}
.banner .headtext .pointer-sec ul li{ flex: 0 0 50%; display: flex;}
.banner .headtext .pointer-sec ul li p{ color: #fff; font-size:20px;line-height:40px; position: relative; font-weight: 300;}


.icons-part small {
  background: url(../img/icons-sprite.png) no-repeat;
  width: 40px;
  text-align: center;
  height: 40px;
  display: inline-block;
}

.icons-part small.icon1 {
  background-position: 2px 9px;
}

.icons-part small.icon2 {
  background-position:2px -75px;
}

.icons-part small.icon3 {
  background-position:2px -161px;
}

.icons-part small.icon4 {
  background-position:2px -248px;
}

.icons-part small.icon5 {
  background-position:2px -338px;
}
.icons-part small.icon6 {
  background-position:2px -439px;
}
.icons-part small.icon7 {
  background-position:4px -540px;
}
.icons-part small.icon8 {
  background-position:4px -640px;
}

.icons-part small.icon9 {
  background-position:4px -745px;
}
.icons-part small.icon10 {
  background-position:4px -860px;
}



.certi-sec {
  background: url(../img/invoicera-awards.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height:220px;
  margin:0px 0 0;
  display: block;
}



/*=========================strat form css here=================================== */


.formbox-new {
   width: 30%;
   display: inline-block;
   border: 2px solid #fff;
   background: #fff; border-radius: 6px;
}
 .formbox-new .err_input {
   width: 100% !important;
   float: left;
   top: 26px !important;
   right: 0;
   font-size: 11px;
   color: red;
}
 .formbox-new #attach-list-hire {
   position: relative;
   overflow-y: scroll;
   flex-wrap: wrap;
   height: 0;
}
 .formbox-new #attach-list-hire li {
   display: flex;
   align-items: center;
   margin: 0 10px 10px 0;
   float: left;
}
 .formbox-new #attach-list-hire li p {
   font: 12px/18px ;
   color: #999;
   margin: 0 5px;
}
 .formbox-new #attach-list-hire .error {
   position: inherit;
   left: inherit;
}
 .formbox-new .Url-box .urlBox-inner {
   display: flex;
   position: absolute;
   z-index: 99;
   background: #fff;
   top: 60px;
   width: 90%;
}
 .formbox-new .Url-box .urlBox-inner input {
   width: 80% !important;
   border: 1px solid #fff;
   padding: 0 10px;
   color: #000;
}
 .formbox-new .Url-box .urlBox-inner .okButton {
   flex: 0 0 20%;
   margin: 6px 0 0 -1px;
}
 .formbox-new .Url-box .urlBox-inner .okButton a {
   padding: 8px 24px;
   background: ;
   color: #fff;
}
 .formbox-new .headingsec {
   padding: 20px 30px;
   text-align: left;
   margin: 0;
}

 .formbox-new .headingsec h2 {
   font-size: 22px; line-height: 36px; font-weight: 500;
   color: #000;
}
 .formbox-new .headingsec h2 span {
   color: #000;
   font: 30px/32px ;
}
 .formbox-new .headingsec p {
   color: #000; font-size: 12px;
}
 .formbox-new form {
   padding: 5px 30px 30px;
}
 .formbox-new input {
   width: 100%;
  background: none; font-size: 16px; line-height: 28px;
   color: #737373;
   border: 1px solid #e6e6e6;
   padding-left: 18px; box-shadow: 2px 2px 2px -1px #ccc;
}
 .formbox-new input::placeholder {
   color: #737373;
   opacity: 1;
   font: 16px/28px ;
}
 .formbox-new input:focus {
   border: 1px solid #f4b303;
}
 .formbox-new textarea {
   width: 100%;
   font: 14px/26px ;
   height: 90px;
   border: none;
   background: none;
   color: #737373;
}
 .formbox-new textarea::placeholder {
   color: #737373;
   opacity: 1; font-size: 14px;
}
 .formbox-new button {
   color: #fff; font-size:16px; line-height: 28px; background-color: #182634; text-transform: uppercase; border-radius:4px;
    border: none;
   display: block;
   width: 100%;
   padding: 8px 0 12px;
   margin: 30px 0 0; cursor: pointer;
}
 .formbox-new .name {
   padding: 0 0 0px;
   position: relative;
}
 .formbox-new .email {
   padding: 0 0 0px;
   margin: 10px 0;
   position: relative;
}
 .formbox-new .phone {
   padding: 0 0 0px;
   position: relative;
}
 .formbox-new .writebox {
   border: 1px solid #e6e6e6;
   padding: 10px;
   border-radius: 5px;
   margin: 10px 0 0;
   position: relative; box-shadow: 2px 2px 2px -1px #ccc;

}
 .formbox-new .writebox .err_input {
   top: 30px !important;
   left: 12px;
}
 .formbox-new .filesrow {
   display: flex;
   flex-wrap: wrap;
   margin: 10px 0 0;
}
 .formbox-new .filesrow .fa {
   color: #fff;
   margin: 7px 20px 0 0;
}
 .formbox-new .filesrow ul {
   flex: 0 0 80%;
   background: #fff;
   display: flex;
   justify-content: space-around;
   padding: 5px 10px;
   position: relative;
}
 .formbox-new .filesrow ul li {
   padding: 0 10px;
   font: 10px/20px ;
   text-transform: uppercase;
}
 .formbox-new .filesrow ul li:last-child {
   border: 1px dashed #444;
   background: #f6f6f6;
   padding: 0 5px;
   font: 10px/20px ;
}
 .formbox-new .filesrow ul li a {
   color: #5a5a5a;
}
 .formbox-new .filesrow ul:before {
   content: '\f0d9';
   font-family: FontAwesome;
   font-size: 20px;
   color: #fff;
   left: -6px;
   top: 3px;
   position: absolute;
}
 .formbox-new .errfld {
   border-bottom: none;
}
 .formbox-new .errfld:after {
   color: rgba(255,0,0,0.9);
}
 .formbox-new .errfld input::placeholder {
   color: rgba(255,0,0,0.9);
}
 .formbox-new .errfld textarea::placeholder {
   color: rgba(255,0,0,0.9);
}
 .formbox-new .errfld2 {
   border: 1px solid rgba(255,0,0,0.9);
}
 .formbox-new .errfld2 textarea::placeholder {
   color: rgba(255,0,0,0.9);
}

 .filesrow123.hire123 .dz-default.dz-message button {
   border: none;
   padding: 5px 10px;
   float: left; font-size: 11px;
   color: #737373;
   text-transform: uppercase;
   margin: 0 !important;
   border-radius: 0px;
   border: 1px solid #e6e6e6;
   width: 200px;
}
 .filesrow123 .dz-default.dz-message button {
   border: 1px solid #e6e6e6;
   padding: 5px 10px;
   border-radius: 0;
   background: 0 0; font-size: 11px;
   float: left;
   color: #737373;
   text-transform: uppercase;
   margin-left: 10px !important;
   margin: 0px !important;
}
 






/*strat responshive css here */

 @media screen and (max-width:1600px){
.invoicera-custom-container {
  width: 95%;
}

}


 @media screen and (max-width:991px){

  /*start new css */
.hire-php-key-technologyes {
  padding: 50px 0;
}


.headingsec h2 {
  font: 38px/48px'Roboto', sans-serif;
}

.headingsec p {
  font: 18px/30px 'Roboto', sans-serif;
}

.hire-php-key-technologyes .resp-tabs-list li p {
  font: 18px/30px 'Roboto', sans-serif;
}

.hire-php-key-technologyes .contentsec ul li p {
  font: 16px/32px 'Roboto', sans-serif;
}

.services-row {
  padding: 50px 0;
}


  /*start new css */








  .main {
  padding: 0px 0px 50px;
}
  .certi-sec{ display: none; }
.banner h1{ font-size: 35px; line-height: 50px; }



.banner .headtext{ width: 100%; margin: 0px; }
.formbox-new{ width: 100%; }
.formbox-new .headingsec h2{ text-align: center; }
.formbox-new .headingsec p{ text-align: center; }

}


 @media screen and (max-width:767px){

  /*start new css */

ul.resp-tabs-list, p {
  margin: 0px;
  padding: 0px;
  color: #000;
}

.hire-php-key-technologyes .resp-tabs-list{ display: none; }

.headingsec h2 {
  font: 22px/34px'Roboto', sans-serif;
}

.formbox-new.new-form-buttiom {
  width: 100% !important;
}

.formbox-new.new-form-buttiom .formbox-new form{ padding: 0px !important;}
.formbox-new.new-form-buttiom button{ width: 90% !important; }
ul.testimonials_list li .contentbox::after { right: 72px; }
ul.testimonials_list li .contentbox .vedios-row .cont-sec h5 {
  font: 20px/40px'Roboto', sans-serif;
  color: #000;
}
ul.testimonials_list li .contentbox .vedios-row .cont-sec h6 {
  font: 18px/40px'Roboto', sans-serif;
  color: #000;
}

ul.testimonials_list li .contentbox .vedios-row .normal-text {
  font: 16px/32px'Roboto', sans-serif;
  padding: 20px 20px;
  width: 86% !important;
  float: left;
}

  /*start new css */





.banner .headtext .pointer-sec ul li p {
  font-size: 16px;
  line-height: 44px;
}

.main {
  background-color: #182634;
  padding: 0px 0px 40px;
}
.banner .headtext .pointer-sec {
  margin: 20px 0px;
  padding: 0px;
}

header .logo {
  width: 100%;
  text-align: center;
}


.banner h1 {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding:10px 0px;
}

.banner .headtext p {
  color: #fff;
  font-size: 15px;
  line-height: 34px;
  position: relative; margin: 0px;
  text-align: center; font-weight: 
}

.banner .headtext .pointer-sec ul li {
  flex: 0 0 100%;
}



 }




